body{
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
}

/* font sizes get inherited from parent font size, they add on*/

h1{
    margin: 50px auto 0 auto;
   /* normally text align will center this but if we have a width, we need to define this. auto centers it*/
   font-size: 5.625rem;
   color: #495464;
}

h2{
    font-size: 2.5rem;
    color: #495464;
    padding: 10px;
}

h3{
    color: #495464;
    padding: 10px;
}

a{
    color: #495464;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: black;
}

hr{
    border-style: dotted none none none;
    height: 0px;
    width: 5%;
    border-width: 5px;
    border-color: gray;
    margin: 100px auto;
}

span{
    font-weight: normal;
    text-decoration: underline;
}

.top-container{
    background-color: #f4f4f2;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    padding: 100px none;
    background-color: #e8e8e8;
}

.bottom-container{
    background-color: #bbbfca;
    padding: 50px 0px 20px;
}

.top_cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.headshot{
    width: 25%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: start;
    line-height: 2;
    
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    margin: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    color: #495464;
    font-family: Arial;
    width: 200px;
    font-size: 16px;
    padding: 0;
    background-color: #F4F4F2;
    border: solid #F4F4F2 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 p{
     color: #495464;
 }

 .copyright{
     size: 0.75rem;
     padding: 20px 0px;
 }