<!--THIS IS AN EJS TEMPLATE FILE-->
<!--THIS ALLOWS FOR OUR JS FILE TO HANDLE THE LOGIC AND KINDA SEND OVER THE RESULT INTO HTML-->

<!-- we can include this and footer.ejs as headers and footers for all ejs files.-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>